.navbar {
  background-color: #19191a;
  border: 2px solid #303033;
  border-radius: 30px;
  width: fit-content;
  margin: 1rem auto;
  padding: 0 1rem;
  margin-bottom: -3rem;

  li {
    transition: 0.2s all ease-in-out;
    &:hover {
      color: #fff;
    }
  }
}
